<!doctype html>
<html lang="en">
<head>
  <title></title>
</head>
<body>
    <main>
        <div>
            <h1> {{ todo_list.name }} </h1>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todo_item.items.all %}
                        <tr>
                        <td>{{ item.task }}</td>
                        <td>{{ item.due_date | date }} </td>
                        {% endfor %}
                        </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>